In [2]:
x=[2,"5",4,3]
print(type(x))

<class 'list'>

In [4]:
print(x[1])

5

In [6]:
print(x[0])

2

In [8]:
print(type(x[1]))

<class 'str'>

In [10]:
print(x[6])  #out of range

IndexError: list index out of range

In [11]:
print(x[])   #invalid

SyntaxError: invalid syntax (Temp/ipykernel_13268/3219570186.py, line 1)

In [13]:
t=[10,80,30,40]
print(t)           #list are mutable(changeble) object

[10, 80, 30, 40]

In [14]:
t[1]=20
print(t)

[10, 20, 30, 40]

In [15]:
del t[3]  # to delete element
print(t)

[10, 20, 30]

In [17]:
# -5 -4 -3 -2 -1
i=[1 ,2 ,5 ,9 ,6]
#  0  1  2  3  4
print(i[-1])

6

In [18]:
print(i[-5])

1

In [19]:
####  in operator

In [21]:
k=[1,"shashi","last"]
print(1 in k)

True

In [22]:
print("shekhar" not in k)

True

In [23]:
print("last" in k)

True

In [24]:
print("shashi" not in k)

False

In [25]:
##### list slicing

In [26]:
a=[2,22,222,2222,3,33,333,3333,4,44,444,4444]
print(a[-1])

4444

In [27]:
   #start:end{last-1}  
print(a[0:4])

[2, 22, 222, 2222]

In [28]:
print(a[4: ])

[3, 33, 333, 3333, 4, 44, 444, 4444]

In [29]:
print(a[:6])

[2, 22, 222, 2222, 3, 33]

In [30]:
print(a[2:1])  #from left to right working so not possible

[]

In [31]:
            #steps 
print(a[1:7:2])     #skip 2 value

[22, 2222, 33]

In [32]:
print(a[::-1]) #reverse

[4444, 444, 44, 4, 3333, 333, 33, 3, 2222, 222, 22, 2]

In [5]:
a=[2,22,222,2222,3,33,333,3333,4,44,444,4444]

In [7]:
print(a[5:2:-1])

[33, 3, 2222]

In [8]:
print(a[2:6:-1])

[]

In [9]:
print(a[8:3:-1])

[4, 3333, 333, 33, 3]

In [10]:
print(a[8:3:-2])

[4, 333, 3]

In [11]:
print(a[1:-1])

[22, 222, 2222, 3, 33, 333, 3333, 4, 44, 444]

In [12]:
#### LIST FUNCTION       ##BULIT IN FUCTION

In [13]:
q=[5,15,42,85,99]
print(sum(q))    #SUM

246

In [14]:
print(len(q))    #lenth

5

In [15]:
print(max(q))    #maximum number

99

In [19]:
print(min(q))    #minimum number

5

In [22]:
print(type(q))

<class 'list'>

In [ ]:
#### LIST METHOD == FUNCTION WRITTEN IN CLASS CALLED METHOD .

In [25]:
####  APPEND
r=[1,2,3,4,5,6]   
r.append(8)             #calling to method using object(r) in the class of list == to add values
print(r)

[1, 2, 3, 4, 5, 6, 8]

In [26]:
####  INSERT
       #(index,value to be inserted)
r.insert(6,7)  
print(r)

[1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
####  INDEX
            #(value to find index)
print(r.index(4))

3

In [34]:
####  count
r.append(10)
r.append(6)
print(r)

print(r.count(6))

[1, 2, 3, 4, 5, 6, 7, 8, 10, 10, 6, 10, 6, 10, 6]
4

In [42]:
#### remove
r.remove(10)
print(r)

[1, 3, 4, 7, 8, 10, 10]

In [45]:
#### reverse
r.reverse()
print(r)

[10, 10, 8, 7, 4, 3, 1]

In [1]:
####WAP TO ENTER 5 ELEMENT FROM USER ,APPEND IN A LIST AND PRINT THEN ON SEPERATE LINE

In [16]:
n=0
p=[]
while n<5:
    x=int(input("enter a no."))
    p.append(x)
    n+=1
print("value is")

n=0
while n<5:
    print(p[n])    ##n=index value
    n+=1
print(type(p))

enter a no.1
enter a no.5
enter a no.44
enter a no.22
enter a no.3
value is
1
5
44
22
3
<class 'list'>

In [23]:
x=1
i=[]
while x<6:
    p=int(input("ENTER NUMBER"))
    i.append(p)
    x+=1
    
print("sum ", sum(i))
print("avg ",(sum(i)/len(i)))

ENTER NUMBER1
ENTER NUMBER2
ENTER NUMBER3
ENTER NUMBER4
ENTER NUMBER5
sum  15
avg  3.0